<mat-form-field>
    <mat-label> {{ label }} </mat-label>
    <input matInput 
        [placeholder]="placeholder" 
        aria-required="false" 
        (change)="setValue($event.target)"
        [type]="isSecret && hideValue ? 'password' : 'text'"
        [formControl]="formControl">

    <button *ngIf="isSecret" mat-icon-button matSuffix (click)="hideValue = !hideValue" [attr.aria-label]="'Hide value'" [attr.aria-pressed]="hideValue">
        <mat-icon>{{hideValue ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

    <mat-error *ngIf="formControl.invalid && formControl.touched">{{ getErrorMessage(formControl) }}</mat-error>
</mat-form-field>