<div class="navbar">
    <mat-toolbar>
        <span>Users management app</span>
        
        <span class="spacer"></span>

        <div class="navbar-button-container">
            <button mat-icon-button aria-label="Account button" [matMenuTriggerFor]="menu">
                <mat-icon color="primary">account_circle</mat-icon>
            </button>
        </div>

        <mat-menu #menu="matMenu">
            <span mat-menu-item>User</span>
            <button mat-menu-item>Log out</button>
        </mat-menu>
    </mat-toolbar>
</div>
