<div class="navbar">
    <div class="navbar-links">
        <span class='navbar-link' routerLink='users'>Users management app</span>
    </div>
        
    <span class="spacer"></span>

    <ng-container *ngIf="storageService.user$ | async as user">
        <div class="navbar-button-container">
            <button mat-icon-button aria-label="Create account button" color="primary" (click)="onCreateUserBtnWasClicked()">
                <mat-icon class="navbar-icon" color="account">person_add</mat-icon>
            </button>

            <button mat-icon-button aria-label="Account button" [matMenuTriggerFor]="menu">
                <mat-icon class="navbar-icon" color="primary">account_circle</mat-icon>
            </button>
        </div>

        <mat-menu #menu="matMenu">
            <span mat-menu-item (click)="onProfileBtnWasClicked()">Profile</span>
            <button mat-menu-item (click)="onLogoutBtnWasClicked()">Log out</button>
        </mat-menu>
    </ng-container>
</div>
