<div class="acounts-list">
    <mat-list>
        <ng-container *ngFor="let account of (accounts$ | async)">
            <mat-list-item>
                <div class="account-box">
                    <div class="account-data">
                        <mat-icon class="account-data-image">account_circle</mat-icon>

                        <span class="account-data-text">{{account.id | normalize:8}}</span>
                        <span class="account-data-text">{{account.name + ' ' + account.lastName | titlecase}}</span>
                    </div>

                    <div class="spacer">
                    </div>
                    
                    <div class="action-buttons-container">
                        <button mat-icon-button color="primary" [routerLink]="account.id">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <button *ngIf="account.id !== currentUserId" mat-icon-button color="warn" (click)="openConfirmationDialog(account.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-list>

    <div class="actions-container">
        <mat-progress-bar *ngIf="getAccountsRequestInProgress$ | async; else loadMoreButton" mode="indeterminate"></mat-progress-bar>
        <ng-template #loadMoreButton>
            <button mat-raised-button color="primary" (click)="onLoadMoreBtnWasClicked()">Load more</button>
        </ng-template>
    </div>
</div>  