.acounts-list {
    height: 100%;
}

.account-box {
    display: flex;
    justify-self: center;
    align-items: center;
}

.spacer {
    flex: 1 1;
}

.action-buttons-container {
    display: flex;
}

.actions-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.account-data {
    display: flex;
    justify-content: center;
}

.account-data-image {
    font-size: 40px;
    height: 40px;
    width: 40px;

    margin-right: 10px;
}

.account-data-text {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 5px;
}

@media screen and (max-width: 600px) {
    .acounts-list {
        width: 100%;
    }

    ::ng-deep {
        .mat-mdc-list-base {
            width: 100%;
        }
    }
}

@media screen and (max-width: 380px) {
    .account-box {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        height: 100px;
    }

    ::ng-deep {
        .mat-mdc-list-item {
            height: auto !important;
        }
    }
}