@import url('../../../../../styles.scss');

.user-form {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.user-page {
    width: 700px;
    height: 700px;
}

.user-data {
    margin-bottom: 30px !important;
}

::ng-deep {
    .mat-mdc-card-header {
        margin-bottom: 20px;
    }

    .mat-mdc-form-field {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .user-page {
        width: 100%;
        height: auto;
    }

    ::ng-deep {
        .mat-mdc-card {
            width: 100%;
        }
    }
}